* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
  object-position: center;
}

h2, p {
  text-align: center;
}

h2 {
  color: #DB8876;
}

p {
  padding-bottom: 2px;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #901C1C;
  padding: 30px 30px 0px 30px;
}
.header__logo {
  width: 20%;
}
.header__logo__img {
  width: 100%;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__menu__filter {
  width: 95%;
  color: #901C1C;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__menu__filter__item {
  border: 1px solid #757575;
  padding: 0 8px;
  list-style: none;
  border-radius: 15px;
  margin: 0 2px 0 2px;
  color: #901C1C;
}
.header__menu__filter__item:hover {
  cursor: pointer;
  background-color: #901C1C;
  color: #FFFFFF;
}
.header__photographe {
  font-size: 37px;
  display: flex;
  align-items: center;
}

main {
  margin: 20px;
}

.photographes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
}
.photographes .photographe__item {
  width: 25%;
  margin: 30px;
}
.photographes .photographe__item .photographe__container__photo {
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  height: 240px;
}
.photographes .photographe__item .photographe__container__photo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.photographes .photographe__item .photographe__detail__container .photographe__detail__container__name {
  color: #D3573C;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
}
.photographes .photographe__item .photographe__detail__container .photographe__detail__container__description .photographe__detail__container__description__localisation {
  color: #901C1C;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}
.photographes .photographe__item .photographe__detail__container .photographe__detail__container__description .photographe__detail__container__description__texte {
  color: #000000;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}
.photographes .photographe__item .photographe__detail__container .photographe__detail__container__description__price {
  color: #757575;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  margin-bottom: 7px;
}
.photographes .photographe__item .photographe__detail__container__tags {
  display: flex;
  justify-content: center;
}
.photographes .photographe__item .photographe__detail__container__tags .photographe__detail__container__tag__item {
  border: 1px solid #757575;
  padding: 0 8px;
  list-style: none;
  border-radius: 15px;
  margin: 0 2px 0 2px;
  color: #901C1C;
}
.photographes .photographe__item .photographe__detail__container__tags .photographe__detail__container__tag__item:hover {
  cursor: pointer;
  background-color: #901C1C;
  color: #FFFFFF;
}

/*# sourceMappingURL=global.css.map */
