// section des variables.

$couleur_primaire:#901C1C;
$couleur_primaires:#D3573C;
$couleur_secondaire:#DB8876;
$couleur_tertiaire:#C4C4C4;
$couleur_tertiaires:#757575;
$couleur_blanche:#FFFFFF;
$couleur_noir:#000000;
$size_photographe:37px;

// section des mixins
@mixin font-size($taille) {
        font-size: $taille;
      }  
@mixin traiter-liste() {
                        border: 1px solid $couleur_tertiaires;
                        padding:0 8px;
                        list-style: none;
                        border-radius: 15px;
                        margin: 0 2px 0 2px;
                        color: $couleur_primaire;
      }  
      
@mixin basic-properties($taille-police,$taille-hauteur) {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: $taille-police;
        line-height: $taille-hauteur;
        text-align: center;
      }  

@mixin filter-hover(){
        cursor: pointer;
        background-color: $couleur_primaire;
        color: $couleur_blanche;
}

*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}
img{
       
        object-fit: cover;
        object-position: center;
}
h2,p{
        // padding-top: 10px;
        text-align: center;
}
h2{
        color: $couleur_secondaire;
}
p{
        padding-bottom: 2px;
}
.header{
        display: flex;
        justify-content: space-between;
        // border: 1px solid #901C1C;
        color: $couleur_primaire;
        padding: 30px 30px 0px 30px;
        &__logo{
                width: 20%;
                &__img{
                      width: 100%;
                }
        }
        &__menu{
                // width: 55%; 
                // overflow: hidden;
                display: flex;
                align-items: center; 
                // margin-right: -30px; 
                &__filter{
                        // border: 1px solid #901C1C;
                        width: 95%;
                        color: $couleur_primaire;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // padding-top: 40px;
                        
                    &__item{
                        // border: 1px solid $couleur_primaire;
                        // padding:0 8px;
                        // list-style: none;
                        // border-radius: 15px;
                        // margin: 0 2px 0 2px;
                      
                      //  background-color: #901C1C;
                        
                        @include traiter-liste();
                     
                    }
                    &__item:hover{
                        @include filter-hover();
                    }
                }
        }
        &__photographe{
                @include font-size($size_photographe);
                display:flex;
                align-items: center;
        }
}
main{
        margin: 20px;
}
.photographes{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap ;
        justify-content: space-evenly;
        padding: 0  30px 0 30px;
        // border: 5px solid #000000;
        .photographe__item{
                // border: 5px solid #000000;
                width:  25%;
                // height: 400px;
                margin: 0  4% 0 4%;
                display: flex;
                flex-direction:column;
                align-items: center;
                justify-content: start;
                // background-color: #901C1C;

                .photographe__container__photo{
                        border-radius: 50%;
                        overflow:hidden;
                        width: 80%;
                        height: 50%;

        
                        &__img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                                opacity: 0.8;
                        }
                        &__img:hover{
                                opacity: 1; 
                                transition: opacity 0.8s ease-in-out;  
                        }
                }
                .photographe__detail__container{
                       .photographe__detail__container__name{
                          color:$couleur_primaires ;
                          @include basic-properties(36px,47px)
                       } 
                       .photographe__detail__container__description{

                        .photographe__detail__container__description__localisation{
                                color:$couleur_primaire ;
                                @include basic-properties(13px,16px)
                        }
                        .photographe__detail__container__description__texte{
                                color:$couleur_noir ;
                                @include basic-properties(10px,13px)
                        }
                       }
                       .photographe__detail__container__description__price{
                                color:$couleur_tertiaires ;
                                @include basic-properties(9px,12px);
                                margin-bottom : 7px;
                       }

                       &__tags{

                        display: flex;
                        justify-content: center;
                           .photographe__detail__container__tag__item{
                                @include traiter-liste();
                                
                           }
                           .photographe__detail__container__tag__item:hover{
                                @include filter-hover();
                           }
                       }

                }
                
        }
       

}

.photographe__click{
        background-color: $couleur_primaire;
        color: $couleur_blanche;
}

